.tupas-buttons {
  display: block;
}

.bank-login-image {
  position: relative;
  top: 0;
  height: 70px;
  text-align: center;
}

.bank-login-name {
  position: relative;
  bottom: 0;
  line-height: 1.5em;
  text-align: center;
}

.tupas-button {
  display: block;
  float: left;
  padding: 0.8em;
}

.tupas-button button {
  padding: 0.5em;
  background-color: transparent;
  border: 1px solid #ddd;
  cursor: pointer;
}

.tupas-button button:hover {
  border-color: #666;
}
